@{
    ViewBag.Title = "Acerca de";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Este proyecto nace como alternativa para facilitar la tradición costarricense de compartir recetas de cocina, mediante el uso de Tecnología de Comunicación digital, como el Internet, las Redes Sociales y los Dispositivops Móviles.
    </p>

    <p>
        Dos estudiantes de la Licenciatura en Administración de Tecnología de Información del Instituto Tecnológico de Costa Rica, desarrollan esta plataforma como proyecto final del curso de Diseño de Software.
    </p>
</article>

<aside>
    <h3>Sitios de interés</h3>
    <p>
        Algunos sitios relacionados con Recetas5501.
    </p>
    <ul>
        <li><a href="http://www.tec.ac.cr">Tecnológico de Costa Rica</a></li>
        <li><a href="http://es.wikipedia.org/wiki/Costa_Rica">Sobre Costa Rica</a></li>
        <li><a href="https://www.facebook.com/cocinacr">Comidas Costarricenses</a></li>
    </ul>
</aside>