@{
    ViewBag.Title = "Contacto";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Teléfono</h3>
    </header>
    <p>
        <span class="label">Principal:</span>
        <span>(+506)85703340</span></br>
        <span>(+506)89141368</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Correo electrónico</h3>
    </header>
    <p>
        <span class="label">Soporte:</span>
        <span><a href="mailto:jcac92@gmail.com">jcac92@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Mercadeo:</span>
        <span><a href="mailto:jesse.cr21@gmail.com">jesse.cr21@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Dirección</h3>
    </header>
    <p>
        Diagonal Restaurante Malanga<br />
        Catago, Costa Rica 30101
    </p>
</section>