@{
    ViewBag.Title = "";
}

<div class="content-wrapper">
    <hgroup class="title">
        <h1>Bienvenid@@</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>
El arte culinario es la forma creativa de preparar los alimentos, esta aplicación web permitirá, aprovechando la tecnología de comunicación, compartir este arte entre las personas sin gastar mucho tiempo.
    <br />
    <br />
    <img src="../../Images/pinto.jpg" style="max-width:100%; max-height:270px; height:auto;" />
</div>

