@model Recetas_1.Models.INGREDIENTE

@{
    ViewBag.Title = "Crear ingrediente";
}

<h2>Agrega un Ingrediente</h2>
<br />

<div>
    @Html.ActionLink("No agregar más ingredientes", "siguientePaso", new { idPaso = ViewBag.idPaso })
</div>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>INGREDIENTE</legend>

		@Html.Partial("_CreateOrEdit", Model)

        @Html.HiddenFor(model => model.IDPASO, new { value = ViewBag.idPaso } )

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}


