@model Recetas_1.Models.INGREDIENTE

@{
    ViewBag.Title = "Eliminar ingrediente";
}

<h2>Eliminar Ingrediente</h2>
<br />

<h3>¿Segur@@ que deseas eliminar este ingrediente?</h3>
<br />

<fieldset>
    <legend>INGREDIENTE</legend>

    <div class="display-field">@Model.NOMBRE</div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar Ingrediente" />
    </p>
    
    <p>
        @Html.ActionLink("Regresar al Paso", "Details", "PASO", new { id = Model.IDPASO }, null)
    </p>
}