@model Recetas_1.Models.ROLINTERNACIONAL

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ROLINTERNACIONAL</legend>

    <div class="display-label">IDRECETA</div>
    <div class="display-field">@Model.IDRECETA</div>

    <div class="display-label">REGION</div>
    <div class="display-field">@Model.REGION</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


