@model Recetas_1.Models.PASO

@{
    ViewBag.Title = "Agregar pasos";
}

<h2>Agrega un nuevo paso</h2>
<br />

<div>
    @Html.ActionLink("No agregar más pasos", "Index", "RECETA")
</div>
<br />

@using (Html.BeginForm("Create", "PASO", FormMethod.Post, new { EncType="multipart/form-data"})) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PASO</legend>

        @Html.HiddenFor(model => model.IDRECETA)

		@Html.Partial("_CreateOrEdit", Model)


        <div class="editor-label">
            <label for="fotoPaso">Selecciona una imagen para el paso</label>
        </div>
        <div class="editor-field">
            <input type="file" id="fotoPaso" name="fotoPaso" />
        </div>
        
        <p>
            <input type="submit" value="Crear Paso" />
        </p>
    </fieldset>
}


