@model Recetas_1.Models.PASO

@{
    ViewBag.Title = "Eliminar paso";
}

<h2>Eliminar Paso</h2>
<br />

<h3>¿Segur@@ que desea eliminar este paso?</h3>
<br />

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar Paso" />
    </p>
    
    <div>
        @Html.ActionLink("Regresar a la lista de Pasos", "Index", new { idReceta = @Model.IDRECETA })
    </div>
}


