@model IEnumerable<Recetas_1.Models.PASO>

@{
    ViewBag.Title = "Pasos";
}

<h2>Lista de Pasos</h2>

<table>
    <tr>
        <th>
        </th>
        <th>
            Detalles
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.NUMEROPASO
        </td>
        <td>
			@item.DESCRIPCION
        </td>
         <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IDPASO }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IDPASO })
        </td>
    </tr>
}

</table>


