@model Recetas_1.Models.RECETA

@{
    ViewBag.Title = "Eliminar receta";
}

<h1>@Model.NOMBRE</h1>
<br />

<h3>¿Segur@@ que deseas aliminar esta Receta?</h3>
<br />

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar Receta" />
    </p>
    
    <p>
        @Html.ActionLink("Regresar a Mi lista de Recetas", "Index")
    </p>
}


